.grid-row:after {
  content: "";
  display: block;
  clear: both; }

#page-container {
  max-width: 960px;
  margin: 0 15px; }
  @media (min-width: 641px) {
    #page-container {
      margin: 0 30px; } }
  @media (min-width: 1020px) {
    #page-container {
      margin: 0 auto; } }

.hero-image {
  margin-left: -15px;
  margin-right: -15px; }
  @media (min-width: 641px) {
    .hero-image {
      margin-left: -30px;
      margin-right: -30px; } }

.grid-row {
  margin: 0 -15px; }

.grid-row:after {
  content: "";
  display: block;
  clear: both; }

.grid-row .column-full {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 641px) {
    .grid-row .column-full {
      float: left;
      width: 100%; } }
.grid-row .column-quarter {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 641px) {
    .grid-row .column-quarter {
      float: left;
      width: 25%; } }
.grid-row .column-third {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 641px) {
    .grid-row .column-third {
      float: left;
      width: 33.33333%; } }
.grid-row .column-half {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 641px) {
    .grid-row .column-half {
      float: left;
      width: 50%; } }
.grid-row .column-two-thirds {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 641px) {
    .grid-row .column-two-thirds {
      float: left;
      width: 66.66667%; } }
.grid-row .column-three-quarters {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 641px) {
    .grid-row .column-three-quarters {
      float: left;
      width: 75%; } }

h2 {
  font-family: "nta", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none;
  display: block;
  padding-top: 8px;
  padding-bottom: 7px;
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.125;
  font-weight: 400;
  text-transform: none; }
  @media (min-width: 641px) {
    h2 {
      font-size: 27px;
      line-height: 1.11111; } }
  @media (min-width: 641px) {
    h2 {
      padding-top: 4px;
      padding-bottom: 6px; } }
  @media (min-width: 641px) {
    h2 {
      font-size: 24px;
      line-height: 2.08333; } }

h1 {
  font-family: "nta", Arial, sans-serif;
  font-size: 32px;
  line-height: 1.09375;
  font-weight: 400;
  text-transform: none; }
  @media (min-width: 641px) {
    h1 {
      font-size: 48px;
      line-height: 1.04167; } }

.button {
  background-color: #00823b;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: .526315em .789473em .263157em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #003618;
  -moz-box-shadow: 0 2px 0 #003618;
  box-shadow: 0 2px 0 #003618;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #fff; }
  .button:visited {
    background-color: #00823b; }
  .button:hover, .button:focus {
    background-color: #00692f; }
  .button:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #00823b;
    -moz-box-shadow: 0 0 0 #00823b;
    box-shadow: 0 0 0 #00823b; }
  .button.disabled, .button[disabled="disabled"], .button[disabled] {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }
    .button.disabled:hover, .button[disabled="disabled"]:hover, .button[disabled]:hover {
      cursor: default;
      background-color: #00823b; }
    .button.disabled:active, .button[disabled="disabled"]:active, .button[disabled]:active {
      top: 0;
      -webkit-box-shadow: 0 2px 0 #003618;
      -moz-box-shadow: 0 2px 0 #003618;
      box-shadow: 0 2px 0 #003618; }
  .button:link, .button:hover, .button:focus, .button:visited {
    color: #fff; }
  .button:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0; }
  .button:active:before {
    top: -10%;
    height: 120%; }
  .button[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0; }

.button-secondary {
  background-color: #dee0e2;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: .526315em .789473em .263157em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #0b0c0c; }
  .button-secondary:visited {
    background-color: #dee0e2; }
  .button-secondary:hover, .button-secondary:focus {
    background-color: #d0d3d6; }
  .button-secondary:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #dee0e2;
    -moz-box-shadow: 0 0 0 #dee0e2;
    box-shadow: 0 0 0 #dee0e2; }
  .button-secondary.disabled, .button-secondary[disabled="disabled"], .button-secondary[disabled] {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }
    .button-secondary.disabled:hover, .button-secondary[disabled="disabled"]:hover, .button-secondary[disabled]:hover {
      cursor: default;
      background-color: #dee0e2; }
    .button-secondary.disabled:active, .button-secondary[disabled="disabled"]:active, .button-secondary[disabled]:active {
      top: 0;
      -webkit-box-shadow: 0 2px 0 #b5babe;
      -moz-box-shadow: 0 2px 0 #b5babe;
      box-shadow: 0 2px 0 #b5babe; }
  .button-secondary:link, .button-secondary:hover, .button-secondary:focus, .button-secondary:visited {
    color: #0b0c0c; }
  .button-secondary:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0; }
  .button-secondary:active:before {
    top: -10%;
    height: 120%; }
  .button-secondary[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0; }

.button-warning {
  background-color: #b10e1e;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: .526315em .789473em .263157em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #6a0812;
  -moz-box-shadow: 0 2px 0 #6a0812;
  box-shadow: 0 2px 0 #6a0812;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #fff; }
  .button-warning:visited {
    background-color: #b10e1e; }
  .button-warning:hover, .button-warning:focus {
    background-color: #990c1a; }
  .button-warning:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #b10e1e;
    -moz-box-shadow: 0 0 0 #b10e1e;
    box-shadow: 0 0 0 #b10e1e; }
  .button-warning.disabled, .button-warning[disabled="disabled"], .button-warning[disabled] {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }
    .button-warning.disabled:hover, .button-warning[disabled="disabled"]:hover, .button-warning[disabled]:hover {
      cursor: default;
      background-color: #b10e1e; }
    .button-warning.disabled:active, .button-warning[disabled="disabled"]:active, .button-warning[disabled]:active {
      top: 0;
      -webkit-box-shadow: 0 2px 0 #6a0812;
      -moz-box-shadow: 0 2px 0 #6a0812;
      box-shadow: 0 2px 0 #6a0812; }
  .button-warning:link, .button-warning:hover, .button-warning:focus, .button-warning:visited {
    color: #fff; }
  .button-warning:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0; }
  .button-warning:active:before {
    top: -10%;
    height: 120%; }
  .button-warning[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0; }

.focused {
  background-color: #ffbf47; }

.selected {
  color: #2b8cc4; }

.content-fixed {
  position: fixed;
  top: 0; }

.shim {
  display: block; 
}

/* IMPORTANT - NOT GENERATED - REPLACE!!! */
.page-header {
    color: white;
    background-color: darkblue;
    margin-bottom: 20px;
    padding: 7px;
}

.section-header {
    color: white;
    background-color: darkblue;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
    text-align: left;
}

.table-content {
    overflow-x: scroll;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #bbb;
}

td, th {
    border-top: 1px solid #bbb;
    padding: 4px 8px;
}

span {
    display: block;
}

input {
    margin-bottom: 5px;
}

input[type=search] {
    width: 100%;
}

button {
    width: 40%;
}

/*# sourceMappingURL=styles.css.map */
